<!--Navbar-->
<mdb-navbar *ngIf="!(currentRoute=='/login' || currentRoute =='/register')"
    SideClass="navbar navbar-expand-lg navbar-dark default-color ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" routerLink="/customer"><strong>Navbar</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a routerLink="/customer" routerLinkActive="active" class="nav-link">Customer <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>

        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a (click)="logout()" class="nav-link">
                    Log out
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!--/.Navbar-->
<router-outlet></router-outlet>