<mat-dialog-content>
    <h4 class="card-header">Update Customer</h4>
    <div class="card-body">
        <form [formGroup]="addForm">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="hidden" formControlName="id">
                <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button mat-raised-button color="primary" (click)="onSubmit()" tabindex="1">Update</button>
	<button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
</mat-dialog-actions>